[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bigdist"]
	path = bigdist
	url = https://github.com/talegari/bigdist
[submodule "disto"]
	path = disto
	url = https://github.com/talegari/disto
[submodule "ggisotonic"]
	path = ggisotonic
	url = https://github.com/talegari/ggisotonic
[submodule "pkggraph"]
	path = pkggraph
	url = https://github.com/talegari/pkggraph
[submodule "safer"]
	path = safer
	url = https://github.com/talegari/safer
[submodule "slimrec"]
	path = slimrec
	url = https://github.com/talegari/slimrec
[submodule "solitude"]
	path = solitude
	url = https://github.com/talegari/solitude
[submodule "tidier"]
	path = tidier
	url = https://github.com/talegari/tidier
[submodule "tidyrules"]
	path = tidyrules
	url = https://github.com/talegari/tidyrules
